.home {
  width: 100vw;
  height: 300vh;
}

.show-tech {
  width: 100%;
  height: 600px;
}

.parallax {
  /* The image used */
  background-image: url("./../assets/back_tech.png");

  /* Set a specific height */
  min-height: 400px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.block {
  height: 420px;
  background-color: #fff;
  padding: 10px;
}

.calc-img {
  height: 420px;
  border-radius: 90px;
}

.title-home {
  color: #42b983;
  text-align: right;
  font-weight: bold;
  font-size: 2rem;
  width: 100%;
  margin-bottom: 2rem;
}

.info {
  width: 100%;
  padding: 1rem;
}

.my-text {
  width: 90%;
  padding-left: 10%;
  text-align: right;
  font-size: 1.5rem;
}

.calculator-icon {
  background-color: #fff;
  color: #42b983;
  width: 70px;
  border-radius: 90px;
  cursor: pointer;
  transition: .4s;
}

.calculator-icon:hover {
  background-color: #42b983;
  color: #fff;
  width: 70px;
  border-radius: 90px;
}

.container-home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.indicator-text {
  color: #42b983;
  font-weight: bolder;
  font-size: 1.2rem;
  margin-right: .5rem;
}