.home {
  width: 100vw;
  height: 300vh;
  background: linear-gradient(to bottom, #1f4037, #99f2c8);
}

.show-tech {
  width: 100%;
  height: 600px;
}

.parallax {
  /* The image used */
  background-image: url("./../assets/back_tech.png");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}